@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=GFS+Didot&display=swap');


/* COLORES

ROSA > #EFB7BC;
VERDE > #93ca99;
AMARILLO > #f3e98e;
CELESTE > #9fd6e3;
AZUL > #4fb4c3;
VERDE OSCURO > #1a3d42;


*/



* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  font-family: "GFS Didot", serif;
  font-weight: bold;
  font-size: 18px;
}

.App-logo {
  height: 40vmin;
  transition: transform 0.2s;
  /* Animation */
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #1a3d42;
  font-family: "Leckerli One", cursive;
}

.bienvenides {
  margin: 0;
  padding: 0;
}

.bem {
  margin: 2px;
  font-size: 1.5em;
}

.entrar {
  color: #1a3d42;
  margin-top: 10px;
}

.entrar:hover {
  transform: scale(1.2);
  transition: 0.2s ease-in-out;
}

.App-link {
  color: #61dafb;
}

.App-logo:hover {
  transform: scale(1.1);
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  min-height: 80vh;
  margin-top: 5%;
}


.clases {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  min-height: 80vh;
  padding: 30px 0 0;
  margin-top: 5%;
}


.contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  min-height: 80vh;
  margin-top: 5%;
}

.text-wrap-home {
  width: 50%;
  margin: 2%;

}

.text-wrap-clases {
  width: 50%;
  margin: 8%;
  text-align: left;
}

.text-wrap-biodanza {
  width: 50%;
  margin: 2%;
  text-align: left;
}

.text-wrap-home>p {
  font-family: "GFS Didot", serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.7;

}

.biodanza {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  min-height: 80vh;
  padding: 30px 0;
  margin-top: 5%;
}


.facilitadoras {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  min-height: 80vh;
  padding: 30px 0;
  margin-top: 5%;
}


.card-box>img {
  width: 300px;
}

.navbar {
  width: 100%;
  height: 100px;
  background-color: #92c998;
  display: flex;
  justify-content: center;
  align-items: center;
}

#nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  list-style: none;
  justify-content: flex-end;
  position: absolute;
  right: 10%;
}

#nav li {
  font-family: "GFS Didot", serif;
  font-size: 18px;
  color: #1a3d42;
  text-decoration: none;
}

#nav li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #1a3d42;
  border-right: 1px solid #1a3d42;
}


.footer {
  width: 100%;
  height: 20.3vh;
  background-color: #92c998;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "GFS Didot", serif;
  font-size: 18px;
  color: #1a3d42;
  font-weight: 600;
}

.text-wrap-facilitadoras {
  width: 50%;
  margin: 2%;
  display: flex;
  justify-content: center;
}

.card-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.p-box {
  font-family: "GFS Didot", serif;
  font-weight: bold;
  font-size: 18px;
  text-align: left;
}

.text-wrap-contacto {
  display: flex;
  flex-direction: column;
  margin: 5%;
}

.text-wrap-contacto>span {
  padding: 20px;
  text-align: start;
  vertical-align: center;
  display: flex;
  align-items: center;
}

.text-wrap-contacto>span>svg {
  margin-right: 20px;
}

.cuadro-biodanza {
  margin: 5px 0;
  padding: 4px 0;
  text-align: start;
}


h1 {
  font-family: "Leckerli One", cursive;
  letter-spacing: 4px;
  padding: 10px 0;
  margin: 30px 20px 10px;
  color: #92c998;
}

h2 {
  font-family: "Leckerli One", cursive;
  letter-spacing: 4px;
  padding: 5px 0;
}

h3 {
  font-size: 22px;
  letter-spacing: 4px;
  padding: 10px 0;
  color: rgb(239, 183, 188);
}

h4 {
  font-size: 20px;
  padding: 10px 0;
}

h5 {
  font-size: 18px;
  padding: 10px 0;
  color: #1a3d42;
  letter-spacing: 2px;
}


.logo-tucan {
  width: 180px;
  position: fixed;
  left: 25px;
  top: 20px;
}

.rtLogo {
  width: 100px;
  padding-bottom: 11px;
}

.author {
  margin-top: 15px;
}


/* RESPONSIVE */

@media only screen and (max-width:700px) {

  .home {
    min-height: 70vh;
    padding-top: 30%;
    padding-bottom: 10%;
  }

  .facilitadoras {
    padding-top: 20%;
    padding-bottom: 10%;
  }

  .biodanza {
    padding-top: 20%;
    padding-bottom: 10%;
  }

  .clases {
    padding-top: 20%;
    padding-bottom: 10%;
  }


  .logo-tucan {
    width: 100px;
    left: 2%;
    top: 2%;
  }


  .text-wrap-home>p {
    font-size: 0.9rem;
  }

  .author {
    font-size: 1rem;
  }

  .rtLogo {
    width: 60px;
  }

  .footer>p {
    font-size: 0.9rem;
  }

  .navbar {
    height: 70px;
  }


  #nav {
    right: 1%;
  }

  #nav li {
    font-family: "GFS Didot", serif;
    font-size: 15px;
  }

  #nav li a {
    padding: 8px 6px;
    text-decoration: none;
    font-weight: bold;
    color: #1a3d42;
    border-right: 1px solid #1a3d42;
  }

  .text-wrap-facilitadoras {
    width: 75%;
  }

  .text-wrap-clases {
    width: 75%;
  }

  .text-wrap-contacto {
    width: 75%;
  }

  .text-wrap-biodanza {
    font-size: 0.9rem;
    width: 74%;
    margin: 2%;
    text-align: start;
    line-height: 1.5;
  }

  .cuadro-biodanza {
    width: 75%;
    margin: 20px 0;
  }

  .cuadro-biodanza>h3 {
    font-size: 1rem;
    letter-spacing: 0;
    padding: 3px 0;
  }



  h1 {
    font-size: 1.2rem;
  }

  h3 {
    letter-spacing: 0;
  }

  .text-wrap-facilitadoras {
    flex-direction: column;

  }

  .card-box {
    width: 100%;
  }

  .card-box>img {
    width: 200px;
  }

  .text-wrap-contacto {
    font-size: 0.9rem;
  }

  .text-wrap-contacto>span {
    padding: 7px;
  }

}

/* END RESPONSIVE */